<%- include('../partials/header') %>
    <h1>What are your choices?</h1>
    <p>Pasta is one of my favorite foods, and what makes it so speacial to me is that you can make it in so many type of ways:</p>
   
        
       <img src="images/pasta.jpg">
     
  <%- include('../partials/footer') %>