<%- include('../partials/header') %>
    <h1>A women's heart is a deep oceans of secrets!</h1>
    <p>The Movie Tatanic has enabled me to continue to envision, study, and reflect on the disaster over a century after it took place. A key impact of the film was that it gave people a sense of emotional connection to the disaster, which in turn, made it more memorable than disasters that are not depicted in popular culture.</p>
   
        
        <img src="images/titanic.jpg">
     
  <%- include('../partials/footer') %>