<%- include('../partials/header') %>
    <h1>Your purpose is your calling!</h1>
    <p>I am born for this time and age. I am  here according to Gods plan and for Gods work I am here at the right time. I am a woman God created with  incredible talent and possess a very unique quality which can benefit to our world. My influence is very strong like the tidal waves once it started there is nothing to stop it ,It can bring hope to the hopeless,courage to the fearful,healing to the wounded,comfort to the mourn,knowledge to the ignorant,light to the darkened. My smile sends a radiant of joy,happiness and laughter. My heart is full of compassion,wisdom,kindness,love,intelligence like the deep oceans of the sea. Remember no body else has recieved my assignment, no body else understands it like I do. So I will share my gift to the world and refuse to take it to the grave.
      
    </p>
        <img src="images/purpose.jpg">
     
  <%- include('../partials/footer') %>