<%- include('../partials/header') %>
    <h1>Inspiring Words!</h1>
    <p>Here are some of my favorite quotes of all time:</p>
    <ul>
          <li>Image is what people think we are; Integrity is what we really are</li>
          <li>God is light; in him there is no darkness</li>
          <li>Be the change that you wish to see in the world</li>
        </ul>
              
        <img src="images/quote.jpg">
   <%- include('../partials/footer') %>    
 